.admin_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    // height: 100px;
    position: relative;
    
    .admin_header_logo_wraper {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }
}
  